openapi: 3.1.0
info:
  title: Elevance Health Patient Access FHIR API
  version: "1.0"
  description: >-
    Elevance Health (Anthem) Patient Access API exposes FHIR resources
    aligned with the CMS Interoperability and Patient Access rule and the
    CARIN Consumer Directed Payer Data Exchange Implementation Guide.
    Authentication is via OAuth 2.0 / SMART on FHIR.
  contact:
    name: Elevance Health Developers
    url: https://patient360c.anthem.com/P360Member/fhir/documentation
servers:
  - url: https://patient360c.anthem.com/P360Member/api/fhir
    description: Patient360 FHIR (DSTU2)
security:
  - oauth2: [patient/*.read]
paths:
  /metadata:
    get:
      summary: Capability statement
      operationId: getCapabilityStatement
      tags: [Conformance]
      responses:
        '200':
          description: CapabilityStatement
          content:
            application/fhir+json:
              schema:
                type: object
  /Patient/{id}:
    get:
      summary: Read Patient
      operationId: readPatient
      tags: [Patient]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Patient resource
          content:
            application/fhir+json:
              schema:
                type: object
  /Patient:
    get:
      summary: Search Patient
      operationId: searchPatient
      tags: [Patient]
      parameters:
        - in: query
          name: identifier
          schema:
            type: string
        - in: query
          name: birthdate
          schema:
            type: string
            format: date
        - in: query
          name: family
          schema:
            type: string
        - in: query
          name: given
          schema:
            type: string
      responses:
        '200':
          description: Bundle of Patient
          content:
            application/fhir+json:
              schema:
                type: object
  /Coverage:
    get:
      summary: Search Coverage
      operationId: searchCoverage
      tags: [Coverage]
      parameters:
        - in: query
          name: patient
          schema:
            type: string
        - in: query
          name: beneficiary
          schema:
            type: string
      responses:
        '200':
          description: Bundle of Coverage
          content:
            application/fhir+json:
              schema:
                type: object
  /Coverage/{id}:
    get:
      summary: Read Coverage
      operationId: readCoverage
      tags: [Coverage]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Coverage resource
          content:
            application/fhir+json:
              schema:
                type: object
  /ExplanationOfBenefit:
    get:
      summary: Search ExplanationOfBenefit
      operationId: searchExplanationOfBenefit
      tags: [Claims]
      parameters:
        - in: query
          name: patient
          schema:
            type: string
        - in: query
          name: _lastUpdated
          schema:
            type: string
      responses:
        '200':
          description: Bundle of ExplanationOfBenefit
          content:
            application/fhir+json:
              schema:
                type: object
  /ExplanationOfBenefit/{id}:
    get:
      summary: Read ExplanationOfBenefit
      operationId: readExplanationOfBenefit
      tags: [Claims]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ExplanationOfBenefit resource
          content:
            application/fhir+json:
              schema:
                type: object
  /Claim:
    get:
      summary: Search Claim
      operationId: searchClaim
      tags: [Claims]
      parameters:
        - in: query
          name: patient
          schema:
            type: string
      responses:
        '200':
          description: Bundle of Claim
          content:
            application/fhir+json:
              schema:
                type: object
  /Practitioner/{id}:
    get:
      summary: Read Practitioner
      operationId: readPractitioner
      tags: [Provider Directory]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Practitioner resource
          content:
            application/fhir+json:
              schema:
                type: object
  /Organization/{id}:
    get:
      summary: Read Organization
      operationId: readOrganization
      tags: [Provider Directory]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization resource
          content:
            application/fhir+json:
              schema:
                type: object
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://patient360c.anthem.com/P360Member/oauth2/authorize
          tokenUrl: https://patient360c.anthem.com/P360Member/oauth2/token
          scopes:
            patient/*.read: Read patient-scoped resources
            launch/patient: SMART on FHIR patient launch context
            offline_access: Refresh token access
